@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
}
#background {
    margin: 5em auto 0em auto;
    background-color: #4E878C;
    width: 50%;
    height: 90vh;
    border-radius: 15px;
    box-shadow: #000000 0px 2px 10px;
}
.container {
    margin: 1.5em auto 0em auto;
    padding-top: 2.5em;
    width: 80%;
    height: auto;
}
/*body region ends here*/

i {
    margin-right: 0.5em;
}
#title {
    display: flex;
    justify-content: center;
    background-color: #778DA9;
    width: 100%;
    height: auto;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    box-shadow: #000000 0px 1px 10px;
}
#title-txt {
    padding: 1em 1em;
}
/*header region ends here*/

#selection-screen {
    background-color: #FFC100;
    width: 100%;
    height: 20vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
h1 {
    /*display: flex;*/
    align-items: flex-start;
    padding: 1em 0em 0em 1.5em;
    font-size: 1.7em;
}
/*screen region ends here*/

.choices {
    display: flex;
    flex-direction: row;
}
#button-drinks {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    gap: 10%
}
button {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    border: none;
    margin: 2% 4% 4% 0%;
    background-color: #778DA9;
    box-shadow: #000000 0px 2px 10px;
}
.drinks {
    display: flex;
    align-items: center;
    background-color: #FFEAAE;
    width: 13vw;
    height: 10vh;
    box-shadow: #000000 0px 2px 10px;
}
.drinknames {
    font-size: 1.6em;
    padding-left: 1em;
    text-transform: uppercase;
}
/*button region ends here*/

.buttonAnimation {
    animation: buttonAnimation;
    animation-duration: 1s;
}
    @keyframes buttonAnimation {
        0% {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            background-color: #778DA9;
        }
        25% {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            background-color: #FFC100;
        }
        50% {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            background-color: #778DA9;
        }
        75% {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            background-color: #FFC100;
        }
        100% {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            background-color: #778DA9;
        }
    }